
p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.rekom {
  margin-top: 100px;
  color: white;
}

.old {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}
.carousel-item {
  width: 100vh;
  height: 35rem;
  background-size: cover;
}
.card {
  background: var(--bg-color);
  box-shadow: -5px 5px 13px #ffff, 5px -5px 13px #5a5a5a;
  text-decoration: none;
  border-radius: 20px;
  transition: 0.4s;
  flex-direction: column;
}
.card:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 10px 2px #5a5a5a;
}
.card-body {
  /* background-color: #251b37; */
  color: white;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  margin-top: 200px;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}
